[class*='decoration-'] {
  position: absolute;
  html.dev & {
    &::after {
      content: "text";
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100px;
      outline: 1px solid red;
    }
  }
}
[class*='decoration-square-'] {
  width: 21px;
  height: 21px;
  stroke: black;
}

.decoration-plus-1 {
  width: 24px;
  height: 24px;
  stroke: white;
  top: 50%;
  left: 140px;
}

.decoration-square-1 {
  position: absolute;
  top: 60%;
  left: -100px;
  animation: driftBy 180s -45s linear infinite;
  stroke: white;
}
@keyframes driftBy {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(1500px);
  }
}

.decoration-squiggle-1 {
  position: absolute;
  top: 60%;
  right: 0;
  width: 300px;
  stroke: white;
}


// Main (homepage)
.decoration-square-2 {
  top: -14px; 
  left: 1227px;
}
.decoration-square-3 {
  top: 1785px; 
  left: 26px;
}
.decoration-square-4 {
  top: 359px; 
  left: 153px;
}


// dev
.drag-info {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
  background: red;
  color: white;
}
