.site-footer {
  background: #222;
  padding: 40px 40px 40px 40px;
  color: white;
  h5 {
    color: $about;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0 0 1rem 0;
  }
  a {
    color: white;
    display: inline-block;
    width: 33px;
    height: 33px;
    // background: white;
    // border-radius: 50%;
    text-align: center;
    padding: 5px 0 0 0;
    margin: 0 8px 0 0;
    &.contact-twitter {
      &:hover, &:focus {
        svg {
          fill: $about;
        }
      }
    }
    &.contact-dribbble {
      &:hover, &:focus {
        svg {
          fill: $about;
        }
      }
    }
    &.contact-instagram {
      &:hover, &:focus {
        svg {
          fill: $about;
        }
      }
    }
    &.contact-email {
      &:hover, &:focus {
        svg {
          fill: $about;
        }
      }
    }
    // &:hover, &:focus {
    //   background: lighten($midgray, 10%);
    // }
  }
  svg {
    width: 23px;
    height: 23px;
    fill: white;
    // grunt-svgstore should keep preserveAspectRatio
  }
}

.footer-contact {
  margin: 0 0 30px 0;
}

.footer-about {
  color: #838383;
  a {
    display: initial;
    margin: 0;
    color: #ccc;
  }
}


// Pre-footer
.pre-footer {
  background: #F3F3F3;
  padding: 50px 0;
}
.published-elsewhere {
  color: #212121;
  h3 {
    text-transform: uppercase;
    font-style: normal;
    margin: 0 0 20px 0;
    letter-spacing: 0.2rem;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 0 25px 0;
  }
  h4 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.0rem;
    line-height: 1.5em;
    a {
      color: #212121;
      border-bottom: 1px solid #ccc;
      transition: color 0.15s;
      &:hover, &:focus {
        transition: .2s;
        color: $writing;
        border-bottom: 1px $writing solid;
      }
    }
  }
  .publication-name {
    font-style: italic;
    line-height: 1.2rem;
    font-size: 1.1rem;
  }
  time {
    font-size: .8rem;
  }
}