.grid {
  display: flex;
  .grid-1-2 {
    width: 50%;
    padding-right: 20px;
  }
  .grid-1-3 {
    width: 33.33%;
    margin-right: 20px;
  }
  .grid-2-3 {
    width: 66.66%;
    margin-right: 20px;
  }
  [class*='grid-']:last-child {
    margin-right: 0;
  }
  @include breakpoint(baby-bear) {
    display: block;
    [class*='grid-'] {
      width: 100%;
    }
  }
  &[data-grid-type="wrapping"] {
    flex-wrap: wrap;
  }
}

.site-width {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

main {
  position: relative;
}