.grid {
  display: flex;
  .grid-1-3 {
    margin-right: 20px;
  }
  [class^='grid-']:last-child {
    margin-right: 0;
  }
}

.site-width {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}