$sidebarWidth: 260px;

.article {
  padding: 0 10px 0 ($sidebarWidth + 40);
  margin: 0 0 100px 0;
  position: relative;
  max-width: (605px + $sidebarWidth);
  .selected-work & {
    max-width: none;
  }
  h2 {
    position: relative;
    top: -0.3rem;
    color: $writing;
    font-style: italic;
  }
  img {
    max-width: 100%;
  }
  .meta {
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebarWidth;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    font-size: .8rem;
    line-height: 2;
    color: $midgray;
    a {
      text-decoration: underline;
    }
    .banner {
      background: $midgray;
      color: white;
      display: inline-block;
      padding: 5px 11px 3px 15px;
      margin: 0 -20px 10px 0;
      font-weight: 700;
      font-size: 1rem;
      letter-spacing: 0.4rem;
      white-space: nowrap;
      text-align: right;
    }
  }
  @include breakpoint(mama-bear) {
    padding: 0 20px;
    .meta {
      position: relative;
      width: 100%;
      text-align: left;
      margin: 0 0 10px 0;
      br {
        display: none;
      }
      .banner {
        margin: 0 10px 0 0;
        padding: 0 10px;
        line-height: 1.8;
        font-size: 0.9rem;
      }
      time {
        display: block;
        padding: 5px 0 0 0;
      }
    }
  }
}

.read-more-wrap {
  svg {
    width: 13px;
    height: 13px;
    fill: $writing;
  }
}
.read-more {
  display: inline-block;
  padding: 0px;
  margin-right: 8px;
  color: $midgray;
  border-bottom: 3px solid $midgray;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: bold;
  transition: .2s;
  &:hover, &:focus {
    border-bottom-color: $midgray;
    letter-spacing: 5.5px;
    transition: .2s;
    color: $writing;
  }
}
.back-button {
  margin-bottom: 60px;
  svg {
    width: 13px;
    height: 13px;
    fill: $writing;
    transform: rotate(180deg);
    margin-right: 10px;
  }
  &:hover, &:focus {
    border-bottom-color: black;
    letter-spacing: 5.5px;
    transition: .2s;
    color: $writing;
  }
}
