.selected-work {
  margin: 0 0 60px 0;
}

.img {
  height: 120px;
  background: #ccc;
  margin: 0 0 15px 0;
  &.img-tall {
    height: 400px;
  }
}

.job {
  line-height: 1.4;
  font-size: 1.0rem;
  h3 {
    color: #DD2EC9;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 0 0.5rem 0;
  }
}