@import "reset";
@import "typography";
@import "header";
@import "layout";
@import "footer";

.hero {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/hero.jpg);
  backround-size: cover;
  background-position: center center;
  height: 200px;
}

.read-more {
  color: #22D1A8;
  border-bottom: 4px solid #22D1A8;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}

.article {
  padding: 0 0 0 220px;
  margin: 0 0 100px 0;
  position: relative;
  h2 {
    color: #22D1A8;
    font-style: italic;
  }
  .meta {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}
.banner {
  background: #222;
  color: white;
  display: inline-block;
  padding: 5px 15px;
  margin: 0 -20px 10px 0;
  font-weight: bold;
}

.selected-work {
  margin: 0 0 60px 0;
}

.img {
  height: 120px;
  background: #ccc;
  &.img-tall {
    height: 400px;
  }
}

.job {
  h3 {
    color: #DD2EC9;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}