---
layout: default
title: Katie Kovalcin - About
---

<main>
  {% include hero-about.html %}

  <div class="site-width">

    <article class="article">

      <h1>
        Kov-al-what?
      </h1>

      <h3>Katie is a designer in Austin, Texas. Though, she holds Ohio dear to her heart.</h3>

      <div class="article-text">
        
        <p>She currently works at <a href="http://happycog.com">Happy Cog</a>. She has a degree in graphic design from Columbus College of Art &amp; Design where she fell in love with typography and layouts. She is experienced in the full cycle of the web design process from research to wireframes, concepts, and beyond. She values collaboration in her process with developers and other teammates where she is able to best express her deep passion and focus for graphic design. </p>

        <p>When her face isn’t pressed against her computer screen she can be found obsessing over her dog, riding her bike, and traveling. If you secretly ask her, she might play Magic: the Gathering with you. She can’t resist buying red lipstick, skulls, or crystals.</p>

        <h4>You can find her doing fun things like:</h4>
        <ul>
        <li><h5><a href="https://thenetawards.com/" target="_blank">Winning the Net Awards 2014 Young Designer of the Year</a><h5></li>
        <li><h5><a href="http://2014.cssdevconf.com/" target="_blank">Speaking at CSS Dev Conf</a><h5></li>
        <li><h5><a href="http://shoptalkshow.com/episodes/122-katie-kovalcin/" target="_blank">Talking about design on Shoptalk Podcast</a><h5></li>
        <li><h5><a href="http://thetypefight.com/details/jeremy-loyd-vs.-katie-kovalcin" target="_blank">Battling on Typefight</a></h5></li>
        <li><h5><a href="http://www.meetup.com/Girl-Develop-It-Austin/" target="_blank">Teaching Typography and RWD for Girl Develop It Austin</a></h5></li>
        </ul>
      </div>

    </article>

  </div>

  {% include published-elsewhere.html %}

</main>
