---
layout: default
title: Katie Kovalcin - About
---

<main>

  {% include hero-about.html %}

  <div class="site-width">

    <article class="article about">

      <h1>
        Kov-al-what?
      </h1>

      <h3>Katie is a designer in the Midwest.</h3>

      <div class="article-text">

        <p>She currently works at <a href="http://seesparkbox.com/">Sparkbox</a>. She has a degree in graphic design from Columbus College of Art &amp; Design where she obsessed over typography and layouts. She loves to be involved in the entire process, from research to wireframes to concepts through full execution. She strongly values collaboration with her teammates, so she is best able to express her deep passion for design while being an asset to the project as a whole. </p>

        <p>When her face isn’t pressed against her computer screen she can be found obsessing over her dog, riding her bike, and traveling. If you secretly ask her, she might play Magic: the Gathering with you. She can’t resist buying red lipstick, skulls, or crystals.</p>

        <h4>You can find her doing fun things like:</h4>
        <ul>
          <li><h5><a href="https://thenetawards.com/" target="_blank">Winning the Net Awards 2014 Young Designer of the Year</a><h5></li>
          <li><h5><a href="http://shoptalkshow.com/episodes/122-katie-kovalcin/" target="_blank">Talking about design on Shoptalk Podcast</a><h5></li>
          <li><h5><a href="http://thetypefight.com/details/jeremy-loyd-vs.-katie-kovalcin" target="_blank">Battling on Typefight</a></h5></li>
          <li><h5><a href="http://www.meetup.com/Girl-Develop-It-Austin/" target="_blank">Teaching Typography and RWD for Girl Develop It Austin</a></h5></li>
          <li><h5><a href="https://kovalcin.exposure.co/iceland" target="_blank">Exploring Iceland</a></h5></li>
        </ul>
<br>
        <h4>See her speak:</h4>
        <ul>
          <li><h5><a href="https://rwdsummit.com/" target="_blank">RWD Summit</a></h5>
            <div class="publication-name">Online: March 10-12, 2015</div></li>
            <li><h5><a href="http://convergese.com/" target="_blank">ConvergeSE</a></h5>
            <div class="publication-name">Columbia, SC: April 15-18, 2015</div></li>
            <li><h5><a href="https://futureinsightslive.com/las-vegas-2015/" target="_blank">Future Insights Live</a></h5>
            <div class="publication-name">Las Vegas: June 1-4, 2015</div></li>
            <li><h5><a href="http://smashingconf.com/ny-2015/" target="_blank">Smashing Conf</a></h5>
            <div class="publication-name">NYC: June 16-17, 2015</div></li>
        </ul>
        <br>
        <h5>Past Speaking:</h5>
        <ul>
          <li><h5><a href="http://2014.cssdevconf.com/" target="_blank">CSS Dev Conf</a></h5>
          <p>New Orleans: October 13-15, 2014</p></li>
        </ul>
      </div>

      {% include top-decorations.html %}

    </article>

  </div>

  {% include published-elsewhere.html %}

</main>
