---
layout: default
title: Katie Kovalcin
---

{% include hero.html %}

<main>

  <div class="site-width">

    {% for post in site.posts limit:1 %}

    <article class="article">

      <div class="meta">
        <div class="banner">
          Latest Post
        </div>
        <br>
        <time>
          {{ post.date | date: '%B %d, %Y' }}
        </time>
      </div>

      <h2>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>

      <div class="article-text">
        {{ post.excerpt }}
      </div>

      <div class="read-more-wrap">
        <a href="{{ post.url }}" class="read-more">
          Read More
        </a>
        <svg>
          <use xlink:href="#shape-triangle-right" />
        </svg>
      </div>

      {% include top-decorations.html %}

    </article>

    {% endfor %}

    <div class="selected-work" id="selected-work">

      <div class="article">

        <div class="meta">
          <div class="banner">
            Selected Work
          </div>
          <br>
          <time>
            As of 2014
          </time>
        </div>

        <div class="grid group">

          <div class="grid-1-3">
            <article class="job needs-mobile-thumb aecf">
              <a href="/projects/annie_e_casey.html">
              <div class="img img-tall">
                <img src="/images/work/infographics-thumb.jpg" alt="">
              </div>
              <div class="mobile-thumb"></div>
              <h3>The Annie E. Casey Foundation</h3></a>
              <p class="project">A responsive design system to organize a nonprofit's extensive resources and publications.</p>  
            </article>
          </div>

          <div class="grid-1-3">
            <article class="job">
              <a href="/projects/old_spice.html">
              <div class="img">
                <img src="/images/work/oldspice-thumb.jpg" alt="">
              </div>
              <h3>Old Spice</h3></a>
              <p>An event and installation that brought to life the heritage of this iconic brand</p> 
              <svg class="decoration decoration-circle-2">
                <use xlink:href="#shape-decoration-circle" />
              </svg>
              <svg class="decoration decoration-zig-zag-1">
                <use xlink:href="#shape-decoration-zig-zag" />
              </svg>
            </article>
          </div>

          <div class="grid-1-3">
            <article class="job">
              <a href="/projects/codepen.html">
              <div class="img">
                <img src="/images/work/magazine-thumb.jpg" alt="">
              </div>
              <h3>CodePen</h3></a>
              <p>Design Patterns Page</p>   
            </article>
            <article class="job">
              <a href="/projects/thank_you.html">
              <div class="img">
                <img src="/images/work/letterpress-thumb.jpg" alt="">
              </div>
              <h3>Thank You</h3></a>
              <p>Letterpressed cards inspired by vintage Cincinnati typography while emphasizing texture of the medium.</p>   
            </article>

          </div>

        </div>

        <div class="grid group">

          <div class="grid-1-3">

          </div>

          <div class="grid-2-3">
            <article class="job needs-mobile-thumb mos">
              <a href="/projects/mates_of_state.html">
              <div class="img">
                <img src="/images/work/state-thumb.jpg" alt="">
              </div>
              <div class="mobile-thumb"></div>
              <h3>Mates of State</h3></a>
              <p>Hand screenprinted poster for the Midpoint Music Festival.</p>
              <svg class="decoration decoration-triangle-down-1 decoration-right">
                <use xlink:href="#shape-decoration-triangle-down" />
              </svg> 
            </article>
          </div>

        </div>

        <div class="grid group">
          <div class="grid-1-3">
            <article class="job">
              <a href="/projects/orbit.html">
              <div class="img">
                <img src="/images/work/orbit-thumb.jpg" alt="">
              </div>
              <h3>Getting to Orbit</h3></a>
              <p>An educational concept for demonstrating space mechanics.</p>
            </article>
          </div>
          <div class="grid-1-3">
            <article class="job">
              <a href="/projects/dpm_summit.html">
              <div class="img">
                <img src="/images/work/digitalsummit-thumb.jpg" alt="">
              </div>
              <h3>Various Apparel Designs</h3></a>
              <p>Lettering &amp; fun for everyone.</p>  
            </article>
          </div>
        </div>
        
      </div>

      <svg class="decoration decoration-circle-1">
        <use xlink:href="#shape-decoration-circle" />
      </svg>

      <svg class="decoration decoration-plus-3">
        <use xlink:href="#shape-decoration-plus" />
      </svg>
      <svg class="decoration decoration-plus-4">
        <use xlink:href="#shape-decoration-plus" />
      </svg>
      <svg class="decoration decoration-plus-5">
        <use xlink:href="#shape-decoration-plus" />
      </svg>
      <svg class="decoration decoration-plus-7">
        <use xlink:href="#shape-decoration-plus" />
      </svg>

      <svg class="decoration decoration-prism-up-1">
        <use xlink:href="#shape-decoration-prism-up" />
      </svg>

      <svg class="decoration decoration-square-5">
        <use xlink:href="#shape-decoration-square" />
      </svg>

    </div>

  </div>

</main>
