---
layout: default
title: Katie Kovalcin - Writing
---

<main>

  <div class="site-width">

    {% for post in site.posts limit:5 %}

    <article class="article">

      <div class="meta">
        <time>
          {{ post.date | date_to_string }}
        </time>
      </div>

      <h2>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>

      <div class="article-text">
        {{ post.excerpt }}
      </div>

      <div class="read-more-wrap">
        <a href="{{ post.url }}" class="read-more">
          Read More
        </a>
        <svg>
          <use xlink:href="#shape-triangle-right" />
        </svg>
      </div>

    </article>

    {% endfor %}

  </div>

</main>

{% include published-elsewhere.html %}
