<footer class="site-footer">
  <div class="site-width">

    <h4>Contact Katie</h4>

    <a href="https://twitter.com/katiekovalcin" class="contact-twitter">
      <svg>
        <use xlink:href="#shape-twitter" />
      </svg>
    </a>
    <a href="https://dribbble.com/katiekovalcin" class="contact-dribbble">
      <svg>
        <use xlink:href="#shape-dribbble" />
      </svg>
    </a>
    <a href="mailto:create@katekovalcin.com" class="contact-email">
      <svg>
        <use xlink:href="#shape-email" />
      </svg>
    </a>

  </div>
</footer>
