<header class="site-header">

  <nav role="navigation" class="site-navigation">
    <div class="site-width">
      <a href="/" class="logo">
        K<svg class="letter-1">
          <use xlink:href="#open-triangle" />
        </svg>tie<br>
        Ko<svg class="letter-2">
          <use xlink:href="#open-triangle" />
        </svg><svg class="letter-3">
          <use xlink:href="#open-triangle" />
        </svg>lcin
      </a>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Writing</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </nav>

  <div class="hero">

  </div>

</header>