<header class="site-header">

  <nav role="navigation" class="site-navigation">
    <div class="site-width">
      <a href="{{ site.baseurl }}" class="logo">
        <svg>
          <use xlink:href="#shape-logo" />
        </svg>
      </a>
      <ul>
        <li class="nav-design">
          <a href="#0">
            <svg>
              <use xlink:href="#shape-triangle-up" />
            </svg>
            Design
          </a>
        </li>
        <li class="nav-writing">
          <a href="#0">
            <svg>
              <use xlink:href="#shape-triangle-down" />
            </svg>
            Writing
          </a>
        </li>
        <li class="nav-about">
          <a href="#0">
            <svg>
              <use xlink:href="#shape-triangle-up" />
            </svg>
            About
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="hero">

  </div>

</header>
