<div class="prism-down-group-1">
  <svg class="decoration decoration-prism-down-1">
    <use xlink:href="#shape-decoration-prism-down" />
  </svg>
  <svg class="decoration decoration-prism-down-2">
    <use xlink:href="#shape-decoration-prism-down" />
  </svg>
  <svg class="decoration decoration-prism-down-3">
    <use xlink:href="#shape-decoration-prism-down" />
  </svg>
</div>

{% include decoration-weirdo-shape.svg %}

<svg class="decoration decoration-plus-2 decoration-right">
  <use xlink:href="#shape-decoration-plus" />
</svg>
<svg class="decoration decoration-plus-6 decoration-right">
  <use xlink:href="#shape-decoration-plus" />
</svg>

<svg class="decoration decoration-square-2">
  <use xlink:href="#shape-decoration-square" />
</svg>
<svg class="decoration decoration-square-3">
  <use xlink:href="#shape-decoration-square" />
</svg>

<div class="hp-hover">
  <svg class="decoration decoration-hp-1">
    <use xlink:href="#shape-decoration-hp-1" />
  </svg>
  <svg class="decoration decoration-hp-2">
    <use xlink:href="#shape-decoration-hp-2" />
  </svg>
</div>